@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap");
.navbar {
  margin: 1rem 0;
}

.navbar .spaced {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar .spaced .navbar-nav {
  margin-left: 24rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.navbar .spaced .navbar-nav .nav-item a {
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
  color: black;
}

.navbar .spaced .navbar-nav .nav-item .btn-purple {
  background-color: #5254CF;
  border-radius: 0.6rem;
  width: 4.5rem;
  padding: 0.7rem 0;
  font-size: 15px;
  font-family: "Karla";
  text-align: center;
  font-weight: 500;
  color: #f8f8f8;
}

.header {
  margin: 2rem 0;
}

.header .master-text h3 {
  font-size: 30px;
  font-family: "Karla";
  font-weight: 500;
}

.header .master-text h3 span {
  color: #5254CF;
}

.header .master-text p {
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
}

.vr {
  padding: 1.5rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.vr .row .col h5 {
  color: #5254CF;
  font-size: 30px;
  font-family: "Karla";
  font-weight: 600;
}

.vr .row .col p {
  color: #8888;
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
}

.ob {
  padding: 1.5rem 0;
}

.ob .master-text2 h3 {
  color: #5254CF;
  font-size: 30px;
  font-family: "Karla";
  font-weight: 600;
}

.ob .master-text2 p {
  color: #8888;
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
}

.ob .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ob .row .ob-img {
  width: 100%;
}

.ob .row .ob-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ob .row .ob-me .benefit {
  padding: 0 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ob .row .ob-me .benefit img {
  width: 4rem;
}

.ob .row .ob-me .benefit p {
  padding: 0.5rem 0;
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
}

.wts {
  padding: 1.5rem 0;
}

.wts .master-text3 h3 {
  color: #5254CF;
  font-size: 30px;
  font-family: "Karla";
  font-weight: 600;
}

.wts .master-text3 p {
  color: #8888;
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
}

.wts .slider {
  text-align: center;
  margin: 0.5rem 0;
}

.wts .slider .slides .card {
  border: none;
}

.wts .slider .slides .card .card-body .card-title {
  font-size: 30px;
  font-family: "Karla";
  font-weight: 600;
  color: #5254CF;
}

.wts .slider .slides .card .card-body .card-text {
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
}

.jl {
  padding: 1.5rem 0;
}

.jl .jl-bg {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #5254CF;
  border-radius: 1.75rem;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jl .jl-bg img {
  width: 3.25rem;
}

.jl .jl-bg .jl-text {
  -webkit-transform: translateY(0.45rem);
          transform: translateY(0.45rem);
}

.jl .jl-bg .jl-text h5 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Karla";
  color: #f8f8f8;
}

.jl .jl-bg .jl-text p {
  font-size: 15px;
  margin-top: -0.5rem;
  font-weight: 400;
  font-family: "Karla";
  color: #f8f8f8;
}

.jl .jl-bg button {
  border: 1px solid #f8f8f8;
  width: 4rem;
  border-radius: 0.5rem;
}

.jl .jl-bg button a {
  text-decoration: none;
  color: #f8f8f8;
}

.ft1 {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ft1 .ftr-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ft1 .ftr-1 .idt-img {
  margin: 0 1rem;
}

.ft1 .ftr-1 .idt-img img {
  width: 5rem;
}

.ft1 .ftr-1 .idt-img p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Karla";
  color: #8888;
}

.ft1 .ftr-1 .row .col {
  padding: 0.25rem 1.5rem;
}

.ft1 .ftr-1 .row .col h5 {
  font-size: 20px;
  font-family: "Karla";
  font-weight: 500;
}

.ft1 .ftr-1 .row .col a {
  text-decoration: none;
  font-size: 15px;
  font-family: "Karla";
  font-weight: 400;
  color: #8888;
}

.ft1 .ftr-1 .row .col a:hover {
  color: #5254CF;
}

.ft2 {
  padding: 0.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ft2 .cr p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Karla";
}

.ft2 .scm {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ft2 .scm p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Karla";
}

.ft2 .scm a {
  margin-top: -1rem;
  padding: 0 0.5rem;
}

.ft2 .scm a img {
  width: 1.5rem;
}
/*# sourceMappingURL=style.css.map */